.slider-animation{
  position: absolute;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-animation img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slider-animation img.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }

  10% {
      opacity: 1;
      transform: translateX(0);
  }

  30% {
      opacity: 1;
      transform: translateX(0);
  }

  40% {
      opacity: 0;
      transform: translateX(-100%);
  }

  100% {
      opacity: 0;
      transform: translateX(-100%);
  }
}

.slider-animation img:nth-child(1) {
  animation: slide 9s infinite 0s;
}

.slider-animation img:nth-child(2) {
  animation: slide 9s infinite 3s;
}

.slider-animation img:nth-child(3) {
  animation: slide 9s infinite 6s;
}